*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 120px;
    height: 30px;
    align-items:start;
}
.line-row{
    border-bottom: 3px solid #515c6f;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;
}  
header{
    display:block;
    position: relative;
    background-image: url('../assets/images/growcast-01.png');
    background-size: cover;
    background-position: center;
    color: #212529;
    height: 100vh;
    background-position: center top;
    background-attachment: relative;
    background-color: rgba(0, 0, 0, 0.9);
    /* z-index: 1; */
} 
main{
    background-color: #000000;

}
.row-home-growcast {
    align-items:flex-end;
    min-height: 680px;
    padding: 0 12px;
    margin: auto;
}
#navbarNavAltMarkup{
    padding-bottom: 16px;
}
.divider-row{
        border-bottom: 3px solid #515c6f;
}
.link-growdev {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
}
.item-hover {
    transition: all 0.5s ease-out;
}
.item-hover:hover{
    margin-top: -20px;
    position: absolute;
    width: 350px;
    background-color: #000000;
    padding-bottom: 20px;
}
.detail-movie {
    color: white !important;
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
footer {
    background-color: #000000;
    color: #757575; 
    padding: 20px;
}
.smal{
  font-size: 14px;
}